.Layout {
  text-align: center;
  height: 100vh;
  background-color: #282c34;
}

.Header {
  background-color: #f1f1f1;
  padding: 20px;
  height: 10%;
  width: 100%;
  overflow: hidden;
  display: flex;
}

.Game {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 80vh;
  overflow: hidden;
}

.Footer {
  background-color: #f1f1f1;
  padding: 20px;
  height: 10%;
  overflow: hidden;
}

.About {
  background-color: #f1f1f1;
  padding: 20px;
  overflow: hidden;
}

.User {
  background-color: #f1f1f1;
  padding: 20px;
  overflow: hidden;
}
